<!DOCTYPE html>
<html>
<head>
  <title>BenchBnBApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <h1>Bench BnB</h1>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUtTxrbKdQ5QYNu304rywShIv39ZSPKpU">
  </script>


  <%= yield %>

</body>
</html>
